<%- include('partials/head', { pageTitle: 'ChimpType - Typing Test' }) %>
<%- include('partials/header') %>

<main tabindex="0">
    <section class="typing-test-container">
        <div class="typing-test-timer">30</div>
        <div class="typing-input-container"></div>
    </section>
</main>

<script src="/static/js/type.js"></script>

<%- include('partials/footer') %>